body{
    font-family:Arial, sans-serif;
    margin: 0;
    padding: 0;
    color:#744;
    background-image: url("C:\Users\DELL\Downloads\image.jpg");
    background-size: cover;
    background-position:center;
    background-repeat: no-repeat;
    text-align: center;
}
nav{
    display: flex;
    justify-content: center;
}