body{
    font-family: Arial, sans-serif;
    color: #744;
    text-align: center;
    background-image: url("C:\Users\DELL\Downloads\image.jpg");
    background-size: cover;
    background-position:center;
    background-repeat: no-repeat;
}

header{
    background-color:#744;
    color:#fff;
    padding: 15px 20px;
    text-align: center;
}

.navbar li{
    margin:0 15px;
    padding:0;
}

.navbar{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.navbar a{
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    padding: 10px 15px;
    border-radius:5px;
    transition: backround-color 0.3s;
}

.navbar a:hover{
    background-color: #744;
}

main{
    text-align: center;
    padding: 20px;
}

h3{
    color: #744;
}
footer{
    background-color:#744;
    color:#fff;
    padding: 20px;
    text-align:center;
}